#payment-options{
  display: none;
  text-align: center;
}
#payment-options button{
  width: 270px;
  background-color: #348ceb;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
}
#addressInfo{
  text-align: center;
}
#payment-method{
  text-align: center;
  display: none;
}
